.project_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius:2rem ;
    transition: var(--transition);
}
.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}


.portfolio_item h3 {
    margin: 1.2rem 0rem 2rem ;
}

@media screen and (max-width:1024px) {
 .container_portfolio{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
 }

}


@media screen and (max-width:600px){
  .container_portfolio{
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

}